*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-image: url(iamge.avif);
    background-size: cover;
    background-position: center;

}

.centrage{
    margin: auto;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color : #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.bouton{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border : none;
    outline : none;
    border : 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    color : #fff;
}


.titre{
    text-align: center;
    justify-content: space-between;
}

.link{
    color : pink;
}

.style{
    position : fixed;
    top : 0;
    left : 0;
    width: 100%;
    padding : 20px 100px;
    display: flex;
    padding-left: 30px;
}


header{
    position: relative;
    padding : 0 2rem;
}


.logo {
    color : rgb(255, 217, 0);
    font-size: 2em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

#err{
  color : red;
}


